.Hero{
    background:linear-gradient(45deg,black,white,skyblue)
}
.center{
    justify-content:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.image{
     object-fit:contain;
}



/*mediaquery*/
@media only screen and (min-width :550px) and (max-width:800px){
    .heroimg{
        flex-wrap:wrap;
        display:flex;
    }
}